

<div class="about-container" >
      <section class="abnav" >
            <h1 class="ab-h1">QASHQADARYO AXBOROT TEXNALOGIYALARI TEXNIKUMI</h1>
            {{!-- <h1 class="ab-h1">KASHKADARYA INFORMATION TECHNOLOGY TECHNICAL SCHOOL</h1> --}}
          <h3 class="h3-span loader">
            <span id="ab-span" class='m'>I</span>
            <span id="ab-span" class='m'>N</span>
            <span id="ab-span" class='m'>F</span>
            <span id="ab-span" class='m'>A</span>
            <span id="ab-span" class='m'>R</span>
            <span id="ab-span" class='m'>M</span>
            <span id="ab-span" class='m'>A</span>
            <span id="ab-span" class='m'>T</span>
            <span id="ab-span" class='m'>I</span>
            <span id="ab-span" class='m'>O</span>
            <span id="ab-span" class='m'>N</span>
            <span id="ab-span" class='m'>&nbsp;</span>
            <span id="ab-span" class='m'>o</span>
            <span id="ab-span" class='m'>f</span>
            <span id="ab-span" class='m'>&nbsp;</span>
            <span id="ab-span" class='m'>T</span>
            <span id="ab-span" class='m'>E</span>
            <span id="ab-span" class='m'>C</span>
            <span id="ab-span" class='m'>H</span>
            <span id="ab-span" class='m'>N</span>
            <span id="ab-span" class='m'>A</span>
            <span id="ab-span" class='m'>L</span>
            <span id="ab-span" class='m'>O</span>
            <span id="ab-span" class='m'>G</span>
            <span id="ab-span" class='m'>Y</span>
          </h3>
          <div class="abnav-container">
            <a class="abnav-tab" href="#tab-pwa">IT TEXNIKUM</a>
            <a class="abnav-tab" href="#tab-typescript">RAXBARIYAT</a>
            <a class="abnav-tab" href="#tab-graphql">GALLERY</a>
            <a class="abnav-tab" href="#tab-VR">VR TOUR</a>
            {{!-- <a class="abnav-tab" href="#tab-deno">CONTENTS</a> --}}
            <span class="abnav-tab-slider"></span>
          </div>
        </section>

  <section class="about-main">
          <section class="slider" id="tab-pwa">
            <h1 class="ab-h1 mt-4">INFORMATION TEXNALOGIYALARI TEXNIKUMI</h1>
            <h2 class="ab-h2">	Qashqadaryo axb...</h2>
				 <div class="containerAbout">
					<div class="row row-about">
						<p class="m-3 p-4 tex-infoP" id="tex-infoP">	
							 MUHAMMAD AL-XORAZIMIY NOMIDAGI TOSHKENT AXBOROT TEXNOLOGIYALARI UNVERSITETI HUZURIDAGI QASHQADARYO AXBOROT TEXNOLOGIYALARI TEXNIKUMI
               <br>
               QASHQADARYO Axborot texnologiyalari texnikumi  O'zbekiston Respublikasi Vazirlar Mahkamasining 2021 yil 7 maydagi “Axborot texnologiyalari sohasida kadrlar tayyorlash tizimini yanada takomillashtirish  chora-tadbirlari to'g'risida”gi 288-sonli qarori, O'zbekiston Respublikasi Axborot texnologiyalarini va kommunikasiyalarini rivojlantirish vazirligining 2021 yil 18 maydagi  300-sonli buyrug'i asosida tashkil etildi.    
               <br>
               Tеxnikum - Xalqaro  tasniflagichning  5-darajasiga  mos  kеluvchi ta’lim  dasturlari  asosida  oliy  ta’lim  tizimi  bilan  intеgratsiyalashgan o‘rta  maxsus  profеssional  ta’lim  bosqichida  kadrlar  tayyorlaydi.

Axborot-kommunikatsiya  tеxnologiyalari  soha  va  tarmoqlarida  talab yuqori  bo‘lgan  tor  doiradagi  va  sohaviy  mutaxassisliklar  bo‘yicha  tizimli fikrlash, ish yuritish, zamonaviy axborot-kommunikatsiya tеxnologiyalarini qo‘llash  ko‘nikmalariga  ega  hamda  xorijiy  tillarni  biladigan mutaxassislar tayyorlaydi.
<br>
Tеxnikumni   muvaffaqiyatli  tamomlagan bitiruvchilar  o‘z  sohasiga  mos  bakalavriat  ta’lim  yo‘nalishlari  bo‘yicha kirish  imtihonlarisiz  yakka  tartibdagi  suhbat  orqali  oliy  ta’lim muassasasida 2-kursdan o‘qishni davom ettirish huquqiga ega bo‘ladi.
                  
						</p>
					</div>
          </div>
          </section>

          <section class="slider" id="tab-typescript">
            <h1 class="ab-h1">RAXBARIYAT</h1>
            <h2 class="ab-h2">Bizning O'qituvchilar</h2>
            <div class="row ab-teach-container">

              <div class="col-md-6">
                        <div class="row ab-teach-card">
                            <div class="col-md-4 teach-img-content">
                                 <img class="img" id="ab-teach-img" src="assets/img/teachers/Abdiraxmanov.jpg" alt="Teachers img">
                            </div>
                            <div class="col-md-4 ab-teach-info">
                                <div class="card-body ab-teach-conn">
                                  <h3 class="ab-tech-name">R.M.Abdiraxmanov</h3>
                                    <h5 class="card-title">Derektor</h5>
                                    <hr>
                                    <p class="card-text">
                                       <div class="socail">Conect:
                                        <a href="https://t.me/qashqadaryoATT"><i class="fab fa-telegram"></i></a>
                                        <a href="https://www.instagram.com/qashqadaryo.att/"><i class="fab fa-instagram"></i></a>
                                        <a href="https://www.facebook.com/QashqadaryoATT"><i class="fab fa-facebook-f"></i></a>
                                      </div>
                                    </p>
                                </div>
                            </div>
                        </div>
              </div>

              <div class="col-md-6">
                        <div class="row ab-teach-card">
                            <div class="col-md-4 teach-img-content">
                                 <img class="img" id="ab-teach-img" src="assets/img/teachers/XBekjon.jpg" alt="Teachers img">
                            </div>
                            <div class="col-md-4 ab-teach-info">
                                <div class="card-body ab-teach-conn">
                                  <h3 class="ab-tech-name">Xolmuradov Bekjon </h3>
                                    <h5 class="card-title">O'quv tarbiyaviy ishlari bo'yicha derektor o'rinbosari</h5>
                                    <hr>
                                    <p class="card-text">
                                       <div class="socail">Conect:
                                        <a href="https://t.me/qashqadaryoATT"><i class="fab fa-telegram"></i></a>
                                        <a href="https://www.instagram.com/qashqadaryo.att/"><i class="fab fa-instagram"></i></a>
                                        <a href="https://www.facebook.com/QashqadaryoATT"><i class="fab fa-facebook-f"></i></a>
                                      </div>
                                    </p>
                                </div>
                            </div>
                        </div>
              </div>

              <div class="col-md-6">
                        <div class="row ab-teach-card">
                            <div class="col-md-4 teach-img-content">
                                 <img class="img" id="ab-teach-img" src="assets/img/teachers/ANazira.jpg" alt="Teachers img">
                            </div>
                            <div class="col-md-4 ab-teach-info">
                                <div class="card-body ab-teach-conn">
                                  <h3 class="ab-tech-name">Adilova Nazira Bobomuradovna</h3>
                                    <h5 class="ab-tech-position">anonim</h5>
                                    <hr>
                                    <p class="card-text">
                                       <div class="socail">Conect:
                                        <a href="https://t.me/qashqadaryoATT"><i class="fab fa-telegram"></i></a>
                                        <a href="https://www.instagram.com/qashqadaryo.att/"><i class="fab fa-instagram"></i></a>
                                        <a href="https://www.facebook.com/QashqadaryoATT"><i class="fab fa-facebook-f"></i></a>
                                      </div>
                                    </p>
                                </div>
                            </div>
                        </div>
              </div>

              <div class="col-md-6">
                        <div class="row ab-teach-card">
                            <div class="col-md-4 teach-img-content">
                                 <img class="img" id="ab-teach-img" src="assets/img/teachers/ERaxim.jpg" alt="Teachers img">
                            </div>
                            <div class="col-md-4 ab-teach-info">
                                <div class="card-body ab-teach-conn">
                                  <h3 class="ab-tech-name">Elmuradov Raxim Bekmuradovich</h3>
                                    <h5 class="ab-tech-position">anonim</h5>
                                    <hr>
                                    <p class="card-text">
                                       <div class="socail">Conect:
                                        <a href="https://t.me/qashqadaryoATT"><i class="fab fa-telegram"></i></a>
                                        <a href="https://www.instagram.com/qashqadaryo.att/"><i class="fab fa-instagram"></i></a>
                                        <a href="https://www.facebook.com/QashqadaryoATT"><i class="fab fa-facebook-f"></i></a>
                                      </div>
                                    </p>
                                </div>
                            </div>
                        </div>
              </div>

            </div>
          </section>

          <section class="slider mb-4" id="tab-graphql">
            <h1 class="ab-h1">GALERY</h1>
            <h2 class="ab-h2">Picture </h2>

            <div class="tech-galery">
                <div class="row" style="width: 100vw;">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  
                  <div class="carousel-item ab-carousel-img active" id="gl-img1">
                    <img src="assets/img/galleryImg/gl-img1.jpg" class="d-block w-100" alt="gallery images">
                  </div>
                  <div class="carousel-item ab-carousel-img" id="gl-img2">
                    <img src="assets/img/galleryImg/gl-img2.jpg" class="d-block w-100" alt="gallery images">
                  </div>
                  <div class="carousel-item ab-carousel-img" >
                    <img id="gl-img3" src="assets/img/galleryImg/gl-img3.jpg" class="d-block w-100" alt="gallery images">
                  </div>
                  <div class="carousel-item ab-carousel-img" >
                    <img id="gl-img4" src="assets/img/galleryImg/gl-img4.jpg" class="d-block w-100" alt="gallery images">
                  </div>
                  <div class="carousel-item ab-carousel-img" >
                    <img id="gl-img5" src="assets/img/galleryImg/gl-img5.jpg" class="d-block w-100" alt="gallery images">
                  </div>
                  <div class="carousel-item ab-carousel-img" >
                    <img id="gl-img6" src="assets/img/galleryImg/gl-img6.jpg" class="d-block w-100" alt="gallery images">
                  </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                </div>

                   <div class="clients ab-slider-img mt-4">
                      <div class="swiper clients-slider ">
                          <div class="swiper-wrapper">

                              <div class="swiper-slide sildez">
                                  <div class="col-md-2 sm-12  galery-id">
                                      <div class="galeryLink" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
                                        <img class="galery-id-img" src="assets/img/galleryImg/gl-img1.jpg" alt="">
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide sildez">
                                  <div class="col-md-2 sm-12 galery-id">
                                      <div class="galeryLink"  data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2">
                                        <img class="galery-id-img" src="assets/img/galleryImg/gl-img2.jpg" alt="">
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide sildez">
                                  <div class="col-md-2 sm-12 galery-id">
                                      <div class="galeryLink" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" aria-label="Slide 3">
                                        <img class="galery-id-img" src="assets/img/galleryImg/gl-img3.jpg" alt="">
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide sildez">
                                  <div class="col-md-2 sm-12 galery-id">
                                      <div class="galeryLink" data-bs-target="#carouselExampleFade" data-bs-slide-to="3" aria-label="Slide 4">
                                        <img class="galery-id-img" src="assets/img/galleryImg/gl-img4.jpg" alt="">
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide sildez">
                                  <div class="col-md-2 sm-12 galery-id">
                                      <div class="galeryLink" data-bs-target="#carouselExampleFade" data-bs-slide-to="4" aria-label="Slide 5">
                                        <img class="galery-id-img" src="assets/img/galleryImg/gl-img5.jpg" alt="">
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide sildez">
                                  <div class="col-md-2 sm-12 galery-id">
                                      <div class="galeryLink" data-bs-target="#carouselExampleFade" data-bs-slide-to="5" aria-label="Slide 6">
                                        <img class="galery-id-img" src="assets/img/galleryImg/gl-img5.jpg" alt="">
                                      </div>
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                  </div>   
                </div>
              </div>
          </section>
</section>
<section class="slider VR-container " id="tab-VR">
            <h1 class="ab-h1">VERTUAL TOUR</h1>
            <h2 class="ab-h2">VERTUAL KO'RINISH</h2>
            <div class="container">
                <div id="L4GF5hUWh">
                  <script type="text/javascript" async data-short="L4GF5hUWh" width="100vw" height="500px" src="https://app.cloudpano.com/public/shareScript.js"></script>
              </div>
            </div>
</section>

          {{!-- <section class="slider" id="tab-deno">
            <h1 class="ab-h1">CONTENTS</h1>
            <h2 class="ab-h2">a modern runtime </h2>
          </section> --}}

</div>

{{> footer}}