{{!--  Footer --}}
 <footer>
     <section class="footer" id="foter">

    <div class="box-container">
        <div class="box">
            <h3>Navbar Havolalari</h3>
            <a href="/home">HOME</a>
            <a href="/about">BIZ HAQIMIZDA</a>
            <a href="/books">KUTUBXONA</a>
            <a href="/all">YANGILIKLAR</a>
        </div>

        <div class="box">
            <h3>Qo'shimcha Havolalar</h3>
            <a href="#" title="Hisob tizimi ishga tushmagan">Hisob</a>
            <a href="https://t.me/rasulov_n7">Interactive services</a>
            <a href="https://t.me/qashqadaryoATTadmin_bot">Ask questions</a>
        </div>

        <div class="box">
            <h3>Aloqa Ma'lumotlari</h3>
            <a type="tel" href="https://998937608877"> <i class="fas fa-phone"></i> (93) 760 88 77 </a>
            <a href="https://998995806160"> <i class="fas fa-phone"></i> +998-99-580-6160 </a>
            <a href="https://qarshiatt@gmail.com"> <i class="fas fa-envelope"></i> qarshiatt@gmail.com </a>
            <a href="#qATT_MAP" title="Texnikumning o'quv binosi QASHQADARYO viloyati, QARSHI shahri, BOG'ISHAMOL MAHALLASI,CHORBOG' KO'CHASI 2 UYDA JOYLASHGAN."> <i class="fas fa-map"></i> Qarshi, Uzbekistan - 12345 </a>
        </div>

        <div class="box">
            <h3>Ijtmoiy Sahifalar</h3>
            <a href="https://www.facebook.com/QashqadaryoATT"> <i class="fab fa-facebook-f"></i> Facebook </a>
            <a href="https://twitter.com"> <i class="fab fa-twitter"></i> Twitter </a>
            <a href="https://www.instagram.com/qashqadaryo.att/"> <i class="fab fa-instagram"></i> Instagram </a>
            <a href="https://t.me/qarshiatt_bot" title="Telegram bot"> <i class="fab fa-telegram"></i> Telegram bot </a>
            <a href="https://t.me/qashqadaryoATT"> <i class="fab fa-telegram"></i> Telegram </a>
        </div>

    </div>

    <div class="credit">
        <span> ©️ Muhammad al-Xorazmiy nomidagi TATU</span> | Qashqadaryo Axborot
Texnalogiyalari Texnikumi
</div>

</section>
 </footer>
{{!--  Footer end --}}