body {
  /* background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/img/bb.jpg) no-repeat; */
  /* background: url('../assets/img/bb.jpg') no-repeat; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background: #131A20;
  overflow-x: none;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.header .logoP {
  font-size: 10px;
}
.home {
  margin-top: 100px;
  background-color: #11daf5;
  width: 100vw;
  margin-top: 120px;
  margin-bottom: 20px;
}

/* Blog */
.blog-contents{
  margin-top: 20px;
  background-color: rgb(49, 43, 43);
}
.carousel-inner {
  background-color: none;
  /* box-shadow: 2px 2px 6px 2px rgb(40, 39, 39); */
  box-shadow: 2px 2px 6px 2px rgba(203, 203, 203, 0.7);
}

.carousel-item {
  background: none;
  width: 100%;
  height: 600px;
}
.vrTour {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  color: #10221b;
}
.vrTour:hover {
  margin-bottom: 0.8rem;
  font-size: 2.1rem;
  background-color: #00002250;
  color: #03dac6;
  box-shadow: 2px 3px 8px #03dac6;
}

.carousel-text {
  font-size: 30px;
  color: #fff;
}
.carousel-text:hover {
  color: rgb(40, 226, 226);
}

.carousel-paragrf {
  font-size: 14px;
  color: #fff;
}
.carousel-paragrf:hover {
  color: rgb(40, 226, 226);
}

/* Clients */
.int-info{
  background-color: rgba(39, 42, 231, 0.068);
  width: 200px;
  display: flex;
  justify-content: center;
  border: 2px solid rgba(42, 59, 218, 0.5);
  border-radius: 5px;
  text-decoration: none;
  margin: 0;
}
.int-info:hover{
  background-color: rgba(39, 42, 231, 0.363);
  border: 1px solid rgba(42, 59, 218, 0.5);
}

.intLink{
  display: block;
  margin: 10px;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
}
.intLink:hover{
  text-decoration: none;
  color: rgb(6, 227, 235);
}

.int-text{
  margin: 3px;
}
.int-icon{
  color: #64DFDF;
}

/* Clieants */

/* blogs card */
.page-section{
display: flex;
background: #fff;
/* background-color: rgba(255, 255, 255, 0) ; */
color: #000;
}
.blog-box{
display: flex;
}
/* blogs cars end*/




  .btn {
      padding: 10px 50px !important;
      font-size: 20px;
  }

/* Blogs end */


/*  NEWS POST BLOGS  */

/* BLOGS POST  */
.post-section {
  margin-top: 100px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  /* background: rgba(42, 101, 168, 0.308); */
  background: #fff;
}

.post-card {
box-shadow: 0 0 10px 3px rgba(0, 177, 213, .15);
border-radius: 3px;
margin-top: 90px;
}

.post-card .title {
padding: 25px 40px 50px 40px;
background-color: white;
box-shadow: 5px 0 10px rgba(0, 177, 213, .15),
             -5px 0 10px rgba(0, 177, 213, .15),
             0px 5px 10px rgba(0, 177, 213, .15);
}

/* ALL NEWS */
/* ALL blogs card */

.allBlog-container {
  margin-top: 100px;
  /* width: 100vw; */
  padding: 0;
  background: rgba(3, 56, 136, 0.062);
}
.allBlog-rows {
  display: flex;
  justify-content: center
}


/* NEWS CARD  */
.article-card-news {
  max-width: 400px;
  height: 490px;
  background: #fff;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 10%);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;
  border-radius: 1em 1em 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  flex-direction: column;
  margin: 40px auto;
}
.article-card-news:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.article-card__thumbnail {
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: 0.5em 0.5em 0 0;
}
.article-card__thumbnail img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 100%;
}
.article-card__thumbnail img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.article-card__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.article-card__title {
  font-size: 18px;
}
.article-card__meta {
  color: #fff;
}
.article-card__timestamp {
  display: inline-block;
  margin-right: 20px;
}

/* NEWS CARD  */

.Round {
border-radius:6px;
}

@media (max-width:546px) {
.post-card-create {
  display:flex;
  flex-direction:column;
  max-height:300px;
  
}
.post-card-create > button {
  margin-bottom:10px;
}
}
/* POST END */
/* POST */
.wrapper {
  width: 100vw;
  min-height:100vh;
  display: flex;
  flex-direction: row;
}
.main-feed {
  min-height:98vh;
  column-count: 2;
  padding:10px;
}

.scroller-card{
  margin: 0px 20px;
  padding: 10px;
  width: 100vw;
}
.post-all-blogs{
  width: 450px;
  margin-top: 20px;
  text-align: center;
}
.post-view-cards {
  overflow-y: scroll;
  height:100vh;
}

.g-0{
  margin: 10px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 2px 4px 8px rgb(160, 160, 160);
}
.post-all-child{
  text-decoration: none;
  width: 45%;
  height: 100%;
}
.post-all-child2{
  text-decoration: none;
  width: 55%;
  height: 100%;
}

#post-scroll-img{
  height: 100%;
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}


.profile-img-wrapper > center > img {
  opacity:0.3;
  height: 60px;
  }

.feed-icon > center > i {
opacity:0.3;
}

.post-cardL {
padding: 20px;
background-color:white;
width: 900px;
height:auto;
right: 0;
margin: 0;
break-inside: avoid;
box-shadow: 2px 4px 8px #5555;
}
.post-cardL > h3 {
font-size:18px;
font-weight:600;
color:grey;
margin-bottom:20px;
}
.post-cardL > .post-content {
font-size:16px;
font-weight:500;
opacity:0.6;  
}
.post-img > img {
width:100%;
height: 500px;
margin-bottom:20px;
opacity:1;
}
.card-title {
  font-size: 18px;
}
.card-text {
  font-size: 14px;
}

.post-like{
font-size: 18px;
color: rgb(88, 99, 104);
display: flex;
justify-content: space-evenly;
}

.blog-text{
  font-size: 14px;
}
/* POST END */


/*NEWS LIKE  */
.action-menu {
margin: 10px;
padding: 10px;
border: 1px solid #333;
}
li {
  min-width: 102px;
  padding-right: 10px;
  font-size: 1.25em;
  color: rgb(184, 8, 8);
  list-style: none;
}

/* } */

.counter:before {
content: "[";
}
.counter:after {
content: "]";
}

/*NEWS LIKE END  */
/* ALL NEWS end */


/*HOME TEACHERS */

.teach-home-about{
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.teach-home-about p{
  font-size: 17px;
}
.teachers{
background: #fff;
}
.teach-container{
margin-top: 30px;
border: 0;
}

.article-card {
  max-width: 400px;
  height: 490px;
  background: #7dba29;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 10%);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;
  border-radius: 1em 1em 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  flex-direction: column;
  margin: 40px auto;
}
.article-card__thumbnail {
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: 0.5em 0.5em 0 0;
}
.article-card__thumbnail img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 100%;
}
.article-card__thumbnail img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.article-card__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.article-card__title {
  font-size: 18px;
}
.article-card__meta {
  color: #fff;
}
.article-card__timestamp {
  display: inline-block;
  margin-right: 20px;
}


/*HOME TEACHERS END */
