{{> navbar}}

<section class="book-section">
    <div class="container books-down">
        <div class="row ">
            <h1 >KITOBLAR</h1>
        </div>
       <div class="row d-flex">
        <div class="book-box">
            {{!-- <img src="assets/img/logos/html5.png" width="100px" height="100px" alt=""> --}}
            <h2 class="html">HTML <i class="fa fa-code" aria-hidden="true"></i> darslari bo'yicha kitoblar.
            <a href="https://t.me/Web_dasturlash_tili_bot" title="Kitobni Yuklash"> <i class="fa fa-download"></i></a>
            </h2>
        </div>
        <div class="book-box">
            {{!-- <img src="assets/img/logos/css3.png" width="100px" height="100px" alt=""> --}}
            <h2 class="css">CSS darslari bo'yicha kitoblar.
            <a href="https://t.me/Web_dasturlash_tili_bot" title="Kitobni Yuklash"> <i class="fa fa-download"></i></a>
            </h2>
        </div>
        <div class="book-box">
            {{!-- <img src="assets/img/logos/html5.png" width="100px" height="100px" alt=""> --}}
            <h2 class="web">Web Dasturlash darslari bo'yicha video qo'lanma.
            <a href="https://t.me/Web_dasturlash_tili_bot" title="Videolarni ko'rish"> <i class="fa fa-download"></i></a>
            </h2>
        </div>
       </div>
    </div>
</section>
{{> footer}}