
{{> navbar}}

<section class="book-section">
    <div class="container books-down">
        <div class="col ">
            <h1 >KITOBLAR</h1>
        </div>
        <div class="row book-card">
            <div class="col-lg-3 col-sm-6 col-11">
            <div class="article-card">
                        <div class="article-card__thumbnail">
                            <img src="assets/books/html5.png" data-was-processed="true" alt="book img">
                        </div>
                        <div class="article-card__content">
                            <h2 class="article-card__title">HTML video darsliklar </h2>
                            <div class="article-card__meta mt-3">
                                <a href="https://t.me/Web_dasturlash_tili_bot" class="article-card__timestamp" title="Online ko'rish">Yuklash <i class="fa fa-download"></i></a>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-11">
            <div class="article-card">
                        <div class="article-card__thumbnail">
                            <img src="assets/books/css.png" data-was-processed="true" alt="book img">
                        </div>
                        <div class="article-card__content">
                            <h2 class="article-card__title">CSS video darsliklar </h2>
                            <div class="article-card__meta mt-3">
                                <a href="https://t.me/Web_dasturlash_tili_bot" class="article-card__timestamp" title="Online ko'rish">Yuklash <i class="fa fa-download"></i></a>
                            </div>
                        </div>
                    </div>
            </div>
        
        </div>
    </div>
</section>
{{> footer}}